h1{
    color: rgb(147, 55, 6);
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: aqua;
}
p{
    color: black;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
li{
    color: brown;
    font-size: 12px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2{
    text-align: center;
}
h3{
    font-size: 16px;
}
h4{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    background-color: brown;
    text-align: center;
    color: aliceblue;
}
.titan{
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.fondo{
    background-color: rgb(226,60,60);
    background: linear-gradient(90deg, rgba(226,60,60,1) 0%, rgba(228,174,133,1) 22%, rgba(147,175,5,1) 63%, rgba(82,235,234,1) 81%, rgba(181,75,240,1) 100%);
}

/* table{
    width: 100%;
    border: 5px groove rgb(237, 11, 11);
}
td{
    background-color: aqua;
    text-align: center;
    border: 5px double rgb(236, 224, 9);
}
th{
    background-color: blue;
    color: azure;
    border: 5px dashed rgb(6, 240, 57);
}
caption{
    color: brown;
} */
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}